.sans-site-summary {
    p {
        font-size: 1.2em;
        color: $neutral-darkest;
    }
}

footer {
    text-align: center;
    background-color: $neutral-lightest;
    border-top: solid 2px $neutral-darkest;
    .sans-footer-nav-bar {
        nav {
            a {
                font-size: 1.1em;
            }

            ul {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin: 0;
                list-style: none;
                padding: 0;
                &.children {
                    font-size: 0.5em;
                }
                li {
                    padding: 5px 0;
                    margin: 5px 10px;
                }             
            }
        }

    } 
    .custom-logo {
        @include header-logo-size(80px);
    }

    .sans-footer-middle {
        background-color: white;
        padding: 20px 0;
    }

    .sans-footer-bottom{
        background-color: $neutral-darkest;
        color: $white;
        font-size: 0.8em;
        margin-top: -5px;
    }
    .footer-copyright {
        padding: 20px;
    }
}

.sans-footer-top-img {
    background-size: cover !important;
    .sans-footer-top {
        min-height: 200px;
        background: linear-gradient(rgba($color: $neutral-5, $alpha: 1), rgba($color: $neutral-5, $alpha: 0.95));
        display: flex;
        > div {
            margin: auto;
            text-align: center;
        }

    }
}