footer {
    text-align: center;
    background-color: $neutral-lightest;
    border-top: solid 2px $neutral-darkest;
    .sans-footer-nav-bar {
        nav {
            ul {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin: 0;
                list-style: none;
                padding: 0;
                &.children {
                    font-size: 0.5em;
                }
                li {
                    padding: 5px 0;
                    margin: 5px 10px;
                }             
            }
        }

    }
    
    .custom-logo {
        @include header-logo-size(80px);
    }

    .sans-footer-middle {
        background-color: white;
        padding: 20px 0;
    }

    .sans-footer-bottom{
        background-color: $neutral-darkest;
        color: $white;
        font-size: 0.8em;
        margin-top: -5px;
    }
    .footer-copyright {
        padding: 20px;
    }
}