.sans-header-image {
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sans-background-tint {
    background: linear-gradient(rgba($color: $black, $alpha: 0.4),rgba($color: $black, $alpha: 0.1));
}

@media (max-width: $tablet-max) {
    header {
        nav.main-navigation {
            position: absolute;
            right: 0;
            width: 100%;
            background-color: $primary;
            display: none;
            ul {
                &.menu {
                    margin: 20px;
                }
            }
            &.main-menu-open {
                display: block;
            }
        }

        .sans-menu-no-js {
            &:hover {
                nav.main-navigation {
                    display: block;
                }
            }
            nav {
                ul {
                    li {
                        &.menu-item-has-children {
                            &:focus-within {
                                .sub-menu {
                                    display: block;
                                }
                            }
                            &:hover {
                                .sub-menu {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


header {
    .sans-top-bar {
        background-color: $primary;
        height: 50px;
    }
    .sans-top-brand, .sans-top-brand-home {
        text-align: center;
        background-color: $white;
    }

    .sans-top-brand, .sans-top-brand-home {
        @include header-logo-size(80px);
    }

    .sans-main-menu {
        text-align: right;
        #sans-menu-toggle {
            //color: $white;
            cursor: pointer;
            //content: "\f319";
            margin: 0 10px;
        }
        button {
            &#sans-menu-toggle {
                &::after {
                    content: "Icon";
                }
            }
        }
    }

    nav {
        ul {
            list-style: none;
            padding: 0;
            margin: 7px 0;
            a {
                color: $white;
                text-decoration: none;
                transition: color 200ms;
                &:hover {
                    color: rgba($white, 0.8);
                }
            }
            li {
                padding: 5px 0;
                margin: 0 10px;
                font-size: 20px;
            }
        }
        &.sans-top-menu {
            ul {
                display: flex;
                a {
                    font-weight: 500;
                }
            }
            li {
                &:first-child {
                    margin: 0 10px 0 0;
                }
            }
        }
    }

    nav.main-navigation {
        ul {
            li {
                &.menu-item-has-children {
                    cursor: pointer;
                    .sub-menu-open {
                        display: block;
                    }
                }
                .sub-menu {
                display: none;
                }
            }
        }
    }

}




@media (min-width: $tablet-min) {
    header {
        position: sticky;
        .sans-main-menu {
            #sans-menu-toggle {
                display: none;
            }
        }

        .sans-top-brand {
            @include header-logo-size(80px);
        }
        .sans-top-brand-home {
           @include header-logo-size(80px);
        }
        
        .sans-menu-no-js {
            nav {
                ul {
                    li {
                        &.menu-item-has-children {
                            &:focus-within {
                                .sub-menu {
                                    display: block;
                                }
                            }
                            &:hover {
                                .sub-menu {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }
              
    
        nav.main-navigation {
            ul {
                &.menu {
                    display: flex;
                    flex-wrap: nowrap;
                    justify-content: flex-end;
                }
                li {
                    &:last-child {
                        margin: 0 0 0 10px;
                    }
                    &.menu-item-has-children {
                        cursor: pointer;
                        .sub-menu-open {
                            display: block;
                        }
                    }
                    .sub-menu {
                        background-color: $primary;
                        position: absolute;
                        z-index: 1000;
                        top: 40px;
                        padding: 10px;
                        margin: 0;                
                        display: none;
                        text-align: left;
                        li {
                            margin: 0 10px;
                            padding: 10px;
                        }
                    }
                }      
            }
        }
    }
}

#site-header {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
}

.translucent-faint-light {
    background: linear-gradient(rgba($color: $white, $alpha: 0.1), rgba($color: $white, $alpha: 0.7));
}

.translucent-light {
    background-color: rgba($color: $white, $alpha: 0.7);
}

#home-site-intro {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    //background-color: rgba($color: $black, $alpha: 0.75);
    background: linear-gradient(rgba($color: $dark-grey, $alpha: 0.6), rgba($color: $dark-grey, $alpha: 0.75), rgba($color: $dark-grey, $alpha: 0.99));
    
    .site-name, .site-desc {
        padding: 20px 0;
        display: block;
    }
    .site-name {
        font-size: 2em;
        font-weight: 500;
        color: $white;
        h1 {
            color: $white;
            text-shadow: 2px 2px 5px $black;
        }
    }
    .site-desc {
        font-size: 2em;
        font-weight: 300;
        color: $white;
        text-shadow: 2px 2px 5px $black;
    }

    #learn-more {
        display: inline-block;
        margin: 0 0 20px 0;
        text-decoration: none;
        transition: color 100ms;
        text-transform: uppercase;
        color: rgba($color: $white, $alpha: 0.7);
        svg {
            fill: rgba($color: $white, $alpha: 0.7);
            margin: 10px 0 10px 0;
            width: 50px;
            height: 25px;
            transition: fill 100ms, margin 100ms;
        }
        &:hover {
            color: rgba($color: $white, $alpha: 0.95);
            svg {
                fill: rgba($color: $white, $alpha: 0.95);
                margin: 15px 0 5px 0;
            }
        }
    }
}


#home-video-header {
    position: fixed;
    z-index: -1;
    width: auto;
    min-height: 100%;
}

.san-fade-background {
    background: linear-gradient(rgba($color: $dark-grey, $alpha: 0.1), rgba($color: $dark-grey, $alpha: 0.9));
    height: 100%;
}
