@mixin header-logo-size($height: 200px) {
    height: $height + 10px;
    .custom-logo {
        margin: 5px 0;
        height: $height;
        width: auto;
    }
}


@mixin main-menu-toggle($script) {
        @if $script == 'no js' {
            cursor: pointer;
        }
        background-color: $primary-darker;
        color: $white;
        border: none;
        font-weight: 400;
        font-size: 1.1rem;
        font-family: sans-serif;
        padding: 5px 10px;
        border-radius: 2px;
        margin: auto 0;
        @if $script == 'js' {
            &::after {
                padding-left: 5px;
                font-family: "dashicons";
                content: "\f140";
            }
            &.menu-toggle-open::after {
                font-family: "dashicons";
                content: "\f142";
            }
        } @else {
            &::after {
                padding-left: 5px;
                font-family: "dashicons";
                content: "\f140";
            }
            &:hover::after {
                font-family: "dashicons";
                content: "\f142";
            } 
        }
}

.sans-header-image {
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sans-background-tint {
    background: linear-gradient(rgba($color: $black, $alpha: 0.4),rgba($color: $black, $alpha: 0.1));
}

@media (max-width: $tablet-max) {
    header {
        nav.main-navigation {
            position: absolute;
            z-index: 1000;
            top: 50px;
            right: 0;
            width: 100%;
            background-color: $white;
            border-radius: 2px;
            padding: 10px 20px;
            border: solid $primary 1px;
            filter: drop-shadow(1px 1px 3px $dark-grey);
            display: none;
            ul {
                li {
                    &.menu-item-has-children {
                        button {
                            background-color: $white;
                            color: $primary-darker;
                        }
                    }
                    .sub-menu {
                        border-right: $primary 1px solid;
                    }
                    a {
                        color: $primary-darker;
                    }
                }
                &.menu {
                    margin: 20px;
                }
            }
            &.main-menu-open {
                display: block;
            }
        }

        .sans-main-menu {
            text-align: right;
            display: flex;
            justify-content: flex-end; 
            span#sans-menu-toggle {
                @include main-menu-toggle('no js');
            }
            
            button#sans-menu-toggle {
                @include main-menu-toggle('js');
            }      
        }

        .sans-menu-no-js {
            &:hover {
                nav.main-navigation {
                    display: block;
                }
            }
            nav {
                ul {
                    li {
                        &.menu-item-has-children {
                            &:focus-within {
                                .sub-menu {
                                    display: block;
                                }
                            }
                            &:hover {
                                .sub-menu {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


header {
    .sans-top-bar {
        background-color: $primary;
        height: 50px;

        .sans-top-menus-cont {
            display: flex;
            justify-content: space-between;
        }
    }


    .sans-top-brand, .sans-top-brand-home {
        text-align: center;
        background-color: $white;
        border-bottom: solid 2px $neutral-darkest;
    }

    .sans-top-brand, .sans-top-brand-home {
        @include header-logo-size(80px);
    }

    nav {
        ul {
            list-style: none;
            padding: 0;
            margin: 7px 0;
            a {
                color: $white;
                text-decoration: none;
                transition: color 200ms;
                &:hover {
                    color: rgba($white, 0.8);
                }
            }
            li {
                padding: 5px 0;
                margin: 0 10px;
                font-size: 1.1rem;
                font-family: sans-serif;
            }
        }
        &.sans-top-left-menu {
            ul {
                display: flex;
                a {
                    font-weight: 500;
                }
            }
            li {
                &:first-child {
                    margin: 0 10px 0 0;
                    &::before {
                        padding-right: 5px;
                        font-family: "dashicons";
                        content: "\f525";
                        color: $white;
                    }
                }
            }
        }
    }

    nav.main-navigation {
        ul {
            li {
                &.menu-item-has-children {
                    cursor: pointer;
                    > a {
                        &::after {
                            font-family: "dashicons";
                            content: "\f140";
                        }
                        &:hover::after {
                            font-family: "dashicons";
                            content: "\f142";
                        }
                    }
                    button {
                        cursor: pointer;
                        border: none;
                        font-weight: 400;
                        font-size: 1.1rem;
                        font-family: sans-serif;
                        padding: 0;
                        margin: 0;
                        &::after {
                            font-family: "dashicons";
                            content: "\f140";
                        }
                        &.child-menu-open::after {
                            font-family: "dashicons";
                            content: "\f142";
                        }
                    }

                    .sub-menu-open {
                        display: block;
                    }
                }
                .sub-menu {
                display: none;
                }
            }
        }
    }

}

@media (min-width: $tablet-min) {
    header {
        position: sticky;
        .sans-main-menu {
            #sans-menu-toggle {
                display: none;
            }
        }

        .sans-top-brand {
            @include header-logo-size(80px);
        }
        .sans-top-brand-home {
           @include header-logo-size(80px);
        }
        
        .sans-menu-no-js {
            nav {
                ul {
                    li {
                        &.menu-item-has-children {
                            &:focus-within {
                                .sub-menu {
                                    display: block;
                                }
                            }
                            &:hover {
                                .sub-menu {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }
    
        nav.main-navigation {
            ul {
                &.menu {
                    display: flex;
                    flex-wrap: nowrap;
                    justify-content: flex-end;
                    align-items: flex-end;
                }
                li {
                    button {
                        background-color: $primary;
                        color: $white;
                    }

                    &:last-child {
                        margin: 0 0 0 10px;
                    }
                    &.menu-item-has-children {
                        cursor: pointer;
                        .sub-menu-open {
                            display: block;
                        }
                    }
                    .sub-menu {
                        background-color: $white;
                        border: solid $primary 1px;
                        position: absolute;
                        z-index: 1000;
                        top: 40px;
                        padding: 10px;
                        margin: 0;                
                        display: none;
                        text-align: left;
                        border-radius: 2px;
                        filter: drop-shadow(1px 1px 3px $dark-grey);
                        li {
                            margin: 0 10px;
                            padding: 10px;
                            a {
                                color: $primary-darker;
                                transition: color 200ms ease-in-out;
                                &:hover {
                                    color: $primary-darkest;
                                }
                            }
                        }
                    }
                }      
            }
        }
    }
}

#site-header {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
}

.translucent-faint-light {
    background: linear-gradient(rgba($color: $white, $alpha: 0.1), rgba($color: $white, $alpha: 0.7));
}

.translucent-light {
    background-color: rgba($color: $white, $alpha: 0.7);
}







#home-site-intro {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    background: linear-gradient(rgba($color: $dark-grey, $alpha: 0.6), rgba($color: $dark-grey, $alpha: 0.75), rgba($color: $dark-grey, $alpha: 0.99));
    
    .site-name, .site-desc {
        padding: 20px 0;
        display: block;
    }
    .site-name {
        font-size: 2em;
        font-weight: 500;
        color: $white;
        h1 {
            color: $white;
            text-shadow: 2px 2px 5px $black;
        }
    }
    .site-desc {
        font-size: 2em;
        font-weight: 300;
        color: $white;
        text-shadow: 2px 2px 5px $black;
    }

    #learn-more {
        display: block;
        margin: 0 0 20px 0;
        text-decoration: none;
        transition: color 100ms;
        text-transform: uppercase;
        color: rgba($color: $white, $alpha: 0.7);
        &::after {
            display: block;
            font-family: "dashicons";
            font-size: 2rem;
            padding: 0 0 5px 0;
            content: "\f140";
            transition: padding 200ms ease-in-out;
        }
        &:hover {
            color: rgba($color: $white, $alpha: 0.95);
            &::after {
                padding: 5px 0 0 0;
            }
        }
    }
}


#home-video-header {
    position: fixed;
    z-index: -1;
    width: auto;
    min-height: 100%;
}

.san-fade-background {
    background: linear-gradient(rgba($color: $dark-grey, $alpha: 0.1), rgba($color: $dark-grey, $alpha: 0.9));
    height: 100%;
}

#primary {
    .sans-page-head-img {
        background-size: cover !important;
        background-position: center !important;
        background-attachment: fixed !important;
    }
    .sans-page-head-content {
        min-height: 400px;
        background: linear-gradient(rgba($color: $dark-grey, $alpha: 0.6), rgba($color: $dark-grey, $alpha: 0.75), rgba($color: $dark-grey, $alpha: 0.99));
        > div {
            display: flex;
            h1 {
                margin: auto;
                font-size: 3rem;
                font-weight: 300;
                color: $white;
                text-shadow: 2px 2px 5px $black;
                text-align: center;
            }
        }
 
    }
}


