.sans-pg-fold-r3 {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.sans-100vh {
    min-height: 100vh;
}

.sans-pg-fold-r2 {
    display: grid;
    grid-template-rows: auto 1fr;
}

.sans-pg-fold-r1 {
    display: grid;
    min-height: 100vh;
}

main {
    background-color: $neutral-5;
}

.sans-row-bg-1 {
    background-color: $neutral;
}

.sans-widget > div {
    display: flex;
    flex-direction: column;
}

.sans-bg-blocks .sans-widget:nth-child(1) {
    background-color: $neutral-1;
}

.sans-bg-blocks .sans-widget:nth-child(2) {
    background-color: $neutral-2;
}

.sans-bg-blocks .sans-widget:nth-child(3) {
    background-color: $neutral-3;
}

.sans-bkgd-pg {
    background-color: $neutral-5;
}

.sans-alg-it-ctr {
    align-items: center;
}

.sans-txt-rt {
    text-align: right;
}

.sans-txt-ctr {
    text-align: center;
}

.sans-flx-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



