.sans-pg-fold-r3 {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.sans-100vh {
    min-height: 100vh;
}

.sans-pg-fold-r2 {
    display: grid;
    grid-template-rows: auto 1fr;
}

.sans-pg-fold-r1 {
    display: grid;
    min-height: 100vh;
}

main {
    background-color: $neutral-5;
}

.sans-row-bg-1 {
    background-color: $neutral;
}

.sans-widget > div {
    display: flex;
    flex-direction: column;
}

.sans-bg-blocks .sans-widget:nth-child(1) {
    background-color: $neutral-1;
}

.sans-bg-blocks .sans-widget:nth-child(2) {
    background-color: $neutral-2;
}

.sans-bg-blocks .sans-widget:nth-child(3) {
    background-color: $neutral-3;
}

.sans-bkgd-pg {
    background-color: $neutral-5;
}

.sans-pad-10 {
    padding: 10px;
}

.sans-cont {
    margin: 0 auto;
    width: 94%;
}

.sans-cont-flx-ctr {
    margin: auto;
    width: 94%;
}

@media (min-width: 1180px) {
    .sans-cont, .sans-cont-flx-ctr {
        max-width: 1180px;
    }
}

@media (min-width: 980px) {
    .sans-grd-cont {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

.sans-grd-ctr {
    display: grid;
    place-items: center;
}

.sans-flx {
    display: flex;
    justify-content: space-between;
}

.sans-alg-it-ctr {
    align-items: center;
}

.sans-txt-rt {
    text-align: right;
}

.sans-txt-ctr {
    text-align: center;
}

.sans-flx-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sans-widgets-page-end {
    margin: 50px 0 60px 0;
}

#primary {   
    padding-top: 0;
    padding-bottom: 0;
    overflow: auto;
    h1 {
        margin-top: -10px;
        font-size: 3em;
        font-weight: 300;
        color: $accent-darkest;
    }
}

.sans-post-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    .sans-post-thumbnail {
        margin-bottom: 10px;
        text-align: center;
        img {
            max-height: 300px;
            width: auto;
        }
    }
    .sans-post-title {
        margin-bottom: 20px;
    }
}

.sans-page-header {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.sans-home-head-img {
    min-height: 300px;
    background-size: cover !important;
    background-position: bottom right !important;
}



@media screen and (max-width: 979px) {
    .sans-home-head-img {
        background-attachment: fixed !important;
    }
}

#site-outline-image, #featured-articles-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 400px;
}

@media screen and (min-width: 980px) {  
    .sans-home-5, .sans-home-7 {
        grid-column: 1 / 5;
        max-height: 100%;
    }
}



#site-outline {
    background-color: $neutral-4;
}

#featured-articles {
    background-color: $neutral-1;
}



.sans-article-cards {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    article {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h2 {
            text-align: center;
            padding: 10px;
        }
        background-color: $neutral-2;
        flex: 0 1 22%;
        .sans-article-preview-img {
            background-size: cover !important;
            background-position: center !important;
            height: 200px;

        }
        p {
            padding: 0 20px;
        }
        .read-more {
            display: block;
            padding: 0 20px 20px 20px;
        }
    }
}


@media screen and (max-width: 799px) {
    .wp-block-columns { 
    display: block;
        .wp-block-column {
            flex-basis: 100% !important;
        }
    }
}


@media screen and (min-width: 800px) {

    .wp-block-columns {
        //flex-wrap: no-wrap;
        display: flex;
        .wp-block-column {
            //flex: 1 1 300px;
            display: flex;
            flex-direction: column;
            //justify-content: space-between;
            //background-color: $white;
            padding: 5px 10px;
        }
    }

}

.sans-footer-top-img {
    background-attachment: fixed !important;
    background-size: cover !important;
    .sans-footer-top {
        min-height: 200px;
        background: linear-gradient(rgba($color: $neutral-5, $alpha: 1), rgba($color: $neutral-5, $alpha: 0.95));
        display: flex;
        > div {
            margin: auto;
            text-align: center;
        }

    }
}


.wp-block-quote {
    background-color: rgba($white, 0.5);
    border-left: solid $primary 5px;
    padding: 0 10px 10px 10px;
    margin: 20px 0;
    &::before {
        margin-top: 10px;
        display: inline-block;
        font-family: "dashicons";
        content: "\f122";
        font-size: 1.5em;
        color: $medium-grey;
    }
}

li {
    margin: 10px 0;
}