html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  color: #383838;
}

p {
  font-size: 18px;
  line-height: 24px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  margin: 0;
  font-weight: 400;
  color: #383838;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #383838;
  text-decoration: none;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 32px;
  padding-top: 0;
  padding-bottom: 10px;
}

h3 {
  font-size: 26px;
  padding-top: 10px;
  padding-bottom: 5px;
}

a {
  color: #004200;
  font-weight: 400;
}

a:hover {
  text-decoration: none;
}

img {
  height: auto;
  max-width: 100%;
}

.lyt-cont-grid-all {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

.lyt-cont-grid-all .lyt-col {
  -ms-grid-column: 2;
  -ms-grid-column-span: 10;
  grid-column: 2 / 12;
}

.lyt-cont-grid-all .lyt-cont-1-3, .lyt-cont-grid-all .lyt-cont-2-3, .lyt-cont-grid-all .lyt-cont-3-3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.lyt-cont-grid-all .lyt-cont-1-3 .lyt-col, .lyt-cont-grid-all .lyt-cont-2-3 .lyt-col, .lyt-cont-grid-all .lyt-cont-3-3 .lyt-col {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
}

.lyt-cont-grid-all .lyt-cont-1-3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
}

.lyt-cont-grid-all .lyt-cont-2-3 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-column: 5 / 9;
}

.lyt-cont-grid-all .lyt-cont-3-3 {
  -ms-grid-column: 9;
  -ms-grid-column-span: 4;
  grid-column: 9 / 13;
}

.lyt-cont-grid-all .lyt-cont-cols-3 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 10;
  grid-column: 2 / 12;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[20];
      grid-template-columns: repeat(20, 1fr);
}

.lyt-cont-grid-all .lyt-cont-cols-3 .lyt-col-1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1 / 7;
}

.lyt-cont-grid-all .lyt-cont-cols-3 .lyt-col-2 {
  -ms-grid-column: 8;
  -ms-grid-column-span: 6;
  grid-column: 8 / 14;
}

.lyt-cont-grid-all .lyt-cont-cols-3 .lyt-col-3 {
  -ms-grid-column: 15;
  -ms-grid-column-span: 6;
  grid-column: 15 / 21;
}

.lyt-cont-grid-all .lyt-cont-cols-sm-lg {
  -ms-grid-column: 2;
  -ms-grid-column-span: 10;
  grid-column: 2 / 12;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

.lyt-cont-grid-all .lyt-cont-cols-sm-lg .lyt-col-sm {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
}

.lyt-cont-grid-all .lyt-cont-cols-sm-lg .lyt-col-lg {
  -ms-grid-column: 6;
  -ms-grid-column-span: 7;
  grid-column: 6 / 13;
}

.lyt-cont-grid-all .lyt-cont-cols-lg-sm {
  -ms-grid-column: 2;
  -ms-grid-column-span: 10;
  grid-column: 2 / 12;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

.lyt-cont-grid-all .lyt-cont-cols-lg-sm .lyt-col-lg {
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-column: 1 / 8;
}

.lyt-cont-grid-all .lyt-cont-cols-lg-sm .lyt-col-sm {
  -ms-grid-column: 9;
  -ms-grid-column-span: 4;
  grid-column: 9 / 13;
}

.lyt-cont-grid-all .lyt-cont-lg-1-2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1 / 9;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
}

.lyt-cont-grid-all .lyt-cont-lg-1-2 .lyt-col-lg {
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-column: 2 / 8;
}

.lyt-cont-grid-all .lyt-cont-sm-2-2 {
  -ms-grid-column: 9;
  -ms-grid-column-span: 4;
  grid-column: 9 / 13;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.lyt-cont-grid-all .lyt-cont-sm-2-2 .lyt-col-sm {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
}

.lyt-cont-grid-all .lyt-cont-sm-1-2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.lyt-cont-grid-all .lyt-cont-sm-1-2 .lyt-col-sm {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
}

.lyt-cont-grid-all .lyt-cont-lg-2-2 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 8;
  grid-column: 5 / 13;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
}

.lyt-cont-grid-all .lyt-cont-lg-2-2 .lyt-col-lg {
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-column: 2 / 8;
}

.lyt-cont-grid-all .lyt-cont-cols-2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 10;
  grid-column: 2 / 12;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[19];
      grid-template-columns: repeat(19, 1fr);
}

.lyt-cont-grid-all .lyt-cont-cols-2 .lyt-col-1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 9;
  grid-column: 1 / 10;
}

.lyt-cont-grid-all .lyt-cont-cols-2 .lyt-col-2 {
  -ms-grid-column: 11;
  -ms-grid-column-span: 9;
  grid-column: 11 / 20;
}

.lyt-cont-grid-all .lyt-cont-1-2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1 / 7;
}

.lyt-cont-grid-all .lyt-cont-2-2 {
  -ms-grid-column: 7;
  -ms-grid-column-span: 6;
  grid-column: 7 / 13;
}

.lyt-cont-grid-all .lyt-cont-1-2, .lyt-cont-grid-all .lyt-cont-2-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
}

.lyt-cont-grid-all .lyt-cont-1-2 .lyt-col, .lyt-cont-grid-all .lyt-cont-2-2 .lyt-col {
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2 / 6;
}

.lyt-cont-grid-all .lyt-cont-cols-4 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 10;
  grid-column: 2 / 12;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[19];
      grid-template-columns: repeat(19, 1fr);
}

.lyt-cont-grid-all .lyt-cont-cols-4 .lyt-col-1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
}

.lyt-cont-grid-all .lyt-cont-cols-4 .lyt-col-2 {
  -ms-grid-column: 6;
  -ms-grid-column-span: 4;
  grid-column: 6 / 10;
}

.lyt-cont-grid-all .lyt-cont-cols-4 .lyt-col-3 {
  -ms-grid-column: 11;
  -ms-grid-column-span: 4;
  grid-column: 11 / 15;
}

.lyt-cont-grid-all .lyt-cont-cols-4 .lyt-col-4 {
  -ms-grid-column: 16;
  -ms-grid-column-span: 4;
  grid-column: 16 / 20;
}

.lyt-cont-grid-tablet {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

.lyt-cont-grid-tablet .lyt-col {
  -ms-grid-column: 2;
  -ms-grid-column-span: 10;
  grid-column: 2 / 12;
}

.lyt-cont-grid-tablet .lyt-cont-cols-2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 10;
  grid-column: 2 / 12;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[19];
      grid-template-columns: repeat(19, 1fr);
}

.lyt-cont-grid-tablet .lyt-cont-cols-2 .lyt-col-1, .lyt-cont-grid-tablet .lyt-cont-cols-2 .lyt-col-2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 19;
  grid-column: 1 / 20;
}

.lyt-cont-grid-tablet .lyt-cont-1-2, .lyt-cont-grid-tablet .lyt-cont-2-2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / 13;
}

.lyt-cont-grid-tablet .lyt-cont-1-2, .lyt-cont-grid-tablet .lyt-cont-2-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
}

.lyt-cont-grid-tablet .lyt-cont-1-2 .lyt-col, .lyt-cont-grid-tablet .lyt-cont-2-2 .lyt-col {
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2 / 6;
}

.lyt-cont-grid-tablet .lyt-cont-cols-sm-lg {
  -ms-grid-column: 2;
  -ms-grid-column-span: 10;
  grid-column: 2 / 12;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

.lyt-cont-grid-tablet .lyt-cont-cols-sm-lg .lyt-col-sm, .lyt-cont-grid-tablet .lyt-cont-cols-sm-lg .lyt-col-lg {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / 13;
}

.lyt-cont-grid-tablet .lyt-cont-cols-lg-sm {
  -ms-grid-column: 2;
  -ms-grid-column-span: 10;
  grid-column: 2 / 12;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

.lyt-cont-grid-tablet .lyt-cont-cols-lg-sm .lyt-col-lg, .lyt-cont-grid-tablet .lyt-cont-cols-lg-sm .lyt-col-sm {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / 13;
}

.lyt-cont-grid-tablet .lyt-cont-cols-3 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 10;
  grid-column: 2 / 12;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[20];
      grid-template-columns: repeat(20, 1fr);
}

.lyt-cont-grid-tablet .lyt-cont-cols-3 .lyt-col-1, .lyt-cont-grid-tablet .lyt-cont-cols-3 .lyt-col-2, .lyt-cont-grid-tablet .lyt-cont-cols-3 .lyt-col-3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 20;
  grid-column: 1 / 21;
}

.lyt-cont-grid-tablet .lyt-cont-cols-4 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 10;
  grid-column: 2 / 12;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[19];
      grid-template-columns: repeat(19, 1fr);
}

.lyt-cont-grid-tablet .lyt-cont-cols-4 .lyt-col-1, .lyt-cont-grid-tablet .lyt-cont-cols-4 .lyt-col-2, .lyt-cont-grid-tablet .lyt-cont-cols-4 .lyt-col-3, .lyt-cont-grid-tablet .lyt-cont-cols-4 .lyt-col-4 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 19;
  grid-column: 1 / 20;
}

.lyt-cont-grid-tablet .lyt-cont-lg-1-2, .lyt-cont-grid-tablet .lyt-cont-sm-2-2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / 13;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

.lyt-cont-grid-tablet .lyt-cont-lg-1-2 .lyt-col-lg, .lyt-cont-grid-tablet .lyt-cont-lg-1-2 .lyt-col-sm, .lyt-cont-grid-tablet .lyt-cont-sm-2-2 .lyt-col-lg, .lyt-cont-grid-tablet .lyt-cont-sm-2-2 .lyt-col-sm {
  -ms-grid-column: 2;
  -ms-grid-column-span: 10;
  grid-column: 2 / 12;
}

.lyt-cont-grid-tablet .lyt-cont-sm-1-2, .lyt-cont-grid-tablet .lyt-cont-lg-2-2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / 13;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

.lyt-cont-grid-tablet .lyt-cont-sm-1-2 .lyt-col-sm, .lyt-cont-grid-tablet .lyt-cont-sm-1-2 .lyt-col-lg, .lyt-cont-grid-tablet .lyt-cont-lg-2-2 .lyt-col-sm, .lyt-cont-grid-tablet .lyt-cont-lg-2-2 .lyt-col-lg {
  -ms-grid-column: 2;
  -ms-grid-column-span: 10;
  grid-column: 2 / 12;
}

.lyt-cont-grid-tablet .lyt-cont-1-3, .lyt-cont-grid-tablet .lyt-cont-2-3, .lyt-cont-grid-tablet .lyt-cont-3-3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.lyt-cont-grid-tablet .lyt-cont-1-3 .lyt-col, .lyt-cont-grid-tablet .lyt-cont-2-3 .lyt-col, .lyt-cont-grid-tablet .lyt-cont-3-3 .lyt-col {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
}

.lyt-cont-grid-tablet .lyt-cont-1-3, .lyt-cont-grid-tablet .lyt-cont-2-3, .lyt-cont-grid-tablet .lyt-cont-3-3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / 13;
}

.lyt-cont-grid-desktop {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

.lyt-cont-grid-desktop .lyt-col {
  -ms-grid-column: 2;
  -ms-grid-column-span: 10;
  grid-column: 2 / 12;
}

.lyt-cont-grid-desktop .lyt-cont-cols-2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 10;
  grid-column: 2 / 12;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[19];
      grid-template-columns: repeat(19, 1fr);
}

.lyt-cont-grid-desktop .lyt-cont-cols-2 .lyt-col-1, .lyt-cont-grid-desktop .lyt-cont-cols-2 .lyt-col-2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 19;
  grid-column: 1 / 20;
}

.lyt-cont-grid-desktop .lyt-cont-1-2, .lyt-cont-grid-desktop .lyt-cont-2-2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / 13;
}

.lyt-cont-grid-desktop .lyt-cont-1-2, .lyt-cont-grid-desktop .lyt-cont-2-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
}

.lyt-cont-grid-desktop .lyt-cont-1-2 .lyt-col, .lyt-cont-grid-desktop .lyt-cont-2-2 .lyt-col {
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2 / 6;
}

.lyt-cont-grid-desktop .lyt-cont-cols-sm-lg {
  -ms-grid-column: 2;
  -ms-grid-column-span: 10;
  grid-column: 2 / 12;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

.lyt-cont-grid-desktop .lyt-cont-cols-sm-lg .lyt-col-sm, .lyt-cont-grid-desktop .lyt-cont-cols-sm-lg .lyt-col-lg {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / 13;
}

.lyt-cont-grid-desktop .lyt-cont-cols-lg-sm {
  -ms-grid-column: 2;
  -ms-grid-column-span: 10;
  grid-column: 2 / 12;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

.lyt-cont-grid-desktop .lyt-cont-cols-lg-sm .lyt-col-lg, .lyt-cont-grid-desktop .lyt-cont-cols-lg-sm .lyt-col-sm {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / 13;
}

.lyt-cont-grid-desktop .lyt-cont-lg-1-2, .lyt-cont-grid-desktop .lyt-cont-sm-2-2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / 13;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

.lyt-cont-grid-desktop .lyt-cont-lg-1-2 .lyt-col-lg, .lyt-cont-grid-desktop .lyt-cont-lg-1-2 .lyt-col-sm, .lyt-cont-grid-desktop .lyt-cont-sm-2-2 .lyt-col-lg, .lyt-cont-grid-desktop .lyt-cont-sm-2-2 .lyt-col-sm {
  -ms-grid-column: 2;
  -ms-grid-column-span: 10;
  grid-column: 2 / 12;
}

.lyt-cont-grid-desktop .lyt-cont-sm-1-2, .lyt-cont-grid-desktop .lyt-cont-lg-2-2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / 13;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

.lyt-cont-grid-desktop .lyt-cont-sm-1-2 .lyt-col-sm, .lyt-cont-grid-desktop .lyt-cont-sm-1-2 .lyt-col-lg, .lyt-cont-grid-desktop .lyt-cont-lg-2-2 .lyt-col-sm, .lyt-cont-grid-desktop .lyt-cont-lg-2-2 .lyt-col-lg {
  -ms-grid-column: 2;
  -ms-grid-column-span: 10;
  grid-column: 2 / 12;
}

.lyt-cont-grid-desktop .lyt-cont-cols-3 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 10;
  grid-column: 2 / 12;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[20];
      grid-template-columns: repeat(20, 1fr);
}

.lyt-cont-grid-desktop .lyt-cont-cols-3 .lyt-col-1, .lyt-cont-grid-desktop .lyt-cont-cols-3 .lyt-col-2, .lyt-cont-grid-desktop .lyt-cont-cols-3 .lyt-col-3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 20;
  grid-column: 1 / 21;
}

.lyt-cont-grid-desktop .lyt-cont-cols-4 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 10;
  grid-column: 2 / 12;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[19];
      grid-template-columns: repeat(19, 1fr);
}

.lyt-cont-grid-desktop .lyt-cont-cols-4 .lyt-col-1, .lyt-cont-grid-desktop .lyt-cont-cols-4 .lyt-col-2, .lyt-cont-grid-desktop .lyt-cont-cols-4 .lyt-col-3, .lyt-cont-grid-desktop .lyt-cont-cols-4 .lyt-col-4 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 19;
  grid-column: 1 / 20;
}

.lyt-cont-grid-desktop .lyt-cont-1-3, .lyt-cont-grid-desktop .lyt-cont-2-3, .lyt-cont-grid-desktop .lyt-cont-3-3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.lyt-cont-grid-desktop .lyt-cont-1-3 .lyt-col, .lyt-cont-grid-desktop .lyt-cont-2-3 .lyt-col, .lyt-cont-grid-desktop .lyt-cont-3-3 .lyt-col {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
}

.lyt-cont-grid-desktop .lyt-cont-1-3, .lyt-cont-grid-desktop .lyt-cont-2-3, .lyt-cont-grid-desktop .lyt-cont-3-3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / 13;
}

@media screen and (min-width: 380px) {
  .lyt-cont-grid-tablet .lyt-cont-cols-4 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2 / 12;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[19];
        grid-template-columns: repeat(19, 1fr);
  }
  .lyt-cont-grid-tablet .lyt-cont-cols-4 .lyt-col-1, .lyt-cont-grid-tablet .lyt-cont-cols-4 .lyt-col-3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 9;
    grid-column: 1 / 10;
  }
  .lyt-cont-grid-tablet .lyt-cont-cols-4 .lyt-col-2, .lyt-cont-grid-tablet .lyt-cont-cols-4 .lyt-col-4 {
    -ms-grid-column: 11;
    -ms-grid-column-span: 9;
    grid-column: 11 / 20;
  }
}

@media screen and (min-width: 740px) {
  .lyt-cont-grid-tablet .lyt-cont-cols-2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2 / 12;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[19];
        grid-template-columns: repeat(19, 1fr);
  }
  .lyt-cont-grid-tablet .lyt-cont-cols-2 .lyt-col-1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 9;
    grid-column: 1 / 10;
  }
  .lyt-cont-grid-tablet .lyt-cont-cols-2 .lyt-col-2 {
    -ms-grid-column: 11;
    -ms-grid-column-span: 9;
    grid-column: 11 / 20;
  }
  .lyt-cont-grid-tablet .lyt-cont-1-2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1 / 7;
  }
  .lyt-cont-grid-tablet .lyt-cont-2-2 {
    -ms-grid-column: 7;
    -ms-grid-column-span: 6;
    grid-column: 7 / 13;
  }
  .lyt-cont-grid-tablet .lyt-cont-1-2, .lyt-cont-grid-tablet .lyt-cont-2-2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
  }
  .lyt-cont-grid-tablet .lyt-cont-1-2 .lyt-col, .lyt-cont-grid-tablet .lyt-cont-2-2 .lyt-col {
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-column: 2 / 6;
  }
  .lyt-cont-grid-tablet .lyt-cont-cols-sm-lg {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2 / 12;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
  }
  .lyt-cont-grid-tablet .lyt-cont-cols-sm-lg .lyt-col-sm {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;
  }
  .lyt-cont-grid-tablet .lyt-cont-cols-sm-lg .lyt-col-lg {
    -ms-grid-column: 6;
    -ms-grid-column-span: 7;
    grid-column: 6 / 13;
  }
  .lyt-cont-grid-tablet .lyt-cont-cols-lg-sm {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2 / 12;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
  }
  .lyt-cont-grid-tablet .lyt-cont-cols-lg-sm .lyt-col-lg {
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
    grid-column: 1 / 8;
  }
  .lyt-cont-grid-tablet .lyt-cont-cols-lg-sm .lyt-col-sm {
    -ms-grid-column: 9;
    -ms-grid-column-span: 4;
    grid-column: 9 / 13;
  }
  .lyt-cont-grid-tablet .lyt-cont-cols-3 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2 / 12;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[20];
        grid-template-columns: repeat(20, 1fr);
  }
  .lyt-cont-grid-tablet .lyt-cont-cols-3 .lyt-col-1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1 / 7;
  }
  .lyt-cont-grid-tablet .lyt-cont-cols-3 .lyt-col-2 {
    -ms-grid-column: 8;
    -ms-grid-column-span: 6;
    grid-column: 8 / 14;
  }
  .lyt-cont-grid-tablet .lyt-cont-cols-3 .lyt-col-3 {
    -ms-grid-column: 15;
    -ms-grid-column-span: 6;
    grid-column: 15 / 21;
  }
  .lyt-cont-grid-tablet .lyt-cont-cols-4 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2 / 12;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[19];
        grid-template-columns: repeat(19, 1fr);
  }
  .lyt-cont-grid-tablet .lyt-cont-cols-4 .lyt-col-1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;
  }
  .lyt-cont-grid-tablet .lyt-cont-cols-4 .lyt-col-2 {
    -ms-grid-column: 6;
    -ms-grid-column-span: 4;
    grid-column: 6 / 10;
  }
  .lyt-cont-grid-tablet .lyt-cont-cols-4 .lyt-col-3 {
    -ms-grid-column: 11;
    -ms-grid-column-span: 4;
    grid-column: 11 / 15;
  }
  .lyt-cont-grid-tablet .lyt-cont-cols-4 .lyt-col-4 {
    -ms-grid-column: 16;
    -ms-grid-column-span: 4;
    grid-column: 16 / 20;
  }
  .lyt-cont-grid-tablet .lyt-cont-lg-1-2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1 / 9;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
  }
  .lyt-cont-grid-tablet .lyt-cont-lg-1-2 .lyt-col-lg {
    -ms-grid-column: 2;
    -ms-grid-column-span: 6;
    grid-column: 2 / 8;
  }
  .lyt-cont-grid-tablet .lyt-cont-sm-2-2 {
    -ms-grid-column: 9;
    -ms-grid-column-span: 4;
    grid-column: 9 / 13;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .lyt-cont-grid-tablet .lyt-cont-sm-2-2 .lyt-col-sm {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / 4;
  }
  .lyt-cont-grid-tablet .lyt-cont-sm-1-2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .lyt-cont-grid-tablet .lyt-cont-sm-1-2 .lyt-col-sm {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / 4;
  }
  .lyt-cont-grid-tablet .lyt-cont-lg-2-2 {
    -ms-grid-column: 5;
    -ms-grid-column-span: 8;
    grid-column: 5 / 13;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
  }
  .lyt-cont-grid-tablet .lyt-cont-lg-2-2 .lyt-col-lg {
    -ms-grid-column: 2;
    -ms-grid-column-span: 6;
    grid-column: 2 / 8;
  }
  .lyt-cont-grid-tablet .lyt-cont-1-3, .lyt-cont-grid-tablet .lyt-cont-2-3, .lyt-cont-grid-tablet .lyt-cont-3-3 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .lyt-cont-grid-tablet .lyt-cont-1-3 .lyt-col, .lyt-cont-grid-tablet .lyt-cont-2-3 .lyt-col, .lyt-cont-grid-tablet .lyt-cont-3-3 .lyt-col {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / 4;
  }
  .lyt-cont-grid-tablet .lyt-cont-1-3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;
  }
  .lyt-cont-grid-tablet .lyt-cont-2-3 {
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-column: 5 / 9;
  }
  .lyt-cont-grid-tablet .lyt-cont-3-3 {
    -ms-grid-column: 9;
    -ms-grid-column-span: 4;
    grid-column: 9 / 13;
  }
  .lyt-cont-grid-desktop .lyt-cont-cols-4 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2 / 12;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[19];
        grid-template-columns: repeat(19, 1fr);
  }
  .lyt-cont-grid-desktop .lyt-cont-cols-4 .lyt-col-1, .lyt-cont-grid-desktop .lyt-cont-cols-4 .lyt-col-3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 9;
    grid-column: 1 / 10;
  }
  .lyt-cont-grid-desktop .lyt-cont-cols-4 .lyt-col-2, .lyt-cont-grid-desktop .lyt-cont-cols-4 .lyt-col-4 {
    -ms-grid-column: 11;
    -ms-grid-column-span: 9;
    grid-column: 11 / 20;
  }
}

@media screen and (min-width: 980px) {
  .lyt-cont-grid-desktop {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
  }
  .lyt-cont-grid-desktop .lyt-col {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2 / 12;
  }
  .lyt-cont-grid-desktop .lyt-cont-cols-2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2 / 12;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[19];
        grid-template-columns: repeat(19, 1fr);
  }
  .lyt-cont-grid-desktop .lyt-cont-cols-2 .lyt-col-1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 9;
    grid-column: 1 / 10;
  }
  .lyt-cont-grid-desktop .lyt-cont-cols-2 .lyt-col-2 {
    -ms-grid-column: 11;
    -ms-grid-column-span: 9;
    grid-column: 11 / 20;
  }
  .lyt-cont-grid-desktop .lyt-cont-1-2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1 / 7;
  }
  .lyt-cont-grid-desktop .lyt-cont-2-2 {
    -ms-grid-column: 7;
    -ms-grid-column-span: 6;
    grid-column: 7 / 13;
  }
  .lyt-cont-grid-desktop .lyt-cont-1-2, .lyt-cont-grid-desktop .lyt-cont-2-2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
  }
  .lyt-cont-grid-desktop .lyt-cont-1-2 .lyt-col, .lyt-cont-grid-desktop .lyt-cont-2-2 .lyt-col {
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-column: 2 / 6;
  }
  .lyt-cont-grid-desktop .lyt-cont-cols-sm-lg {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2 / 12;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
  }
  .lyt-cont-grid-desktop .lyt-cont-cols-sm-lg .lyt-col-sm {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;
  }
  .lyt-cont-grid-desktop .lyt-cont-cols-sm-lg .lyt-col-lg {
    -ms-grid-column: 6;
    -ms-grid-column-span: 7;
    grid-column: 6 / 13;
  }
  .lyt-cont-grid-desktop .lyt-cont-cols-lg-sm {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2 / 12;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
  }
  .lyt-cont-grid-desktop .lyt-cont-cols-lg-sm .lyt-col-lg {
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
    grid-column: 1 / 8;
  }
  .lyt-cont-grid-desktop .lyt-cont-cols-lg-sm .lyt-col-sm {
    -ms-grid-column: 9;
    -ms-grid-column-span: 4;
    grid-column: 9 / 13;
  }
  .lyt-cont-grid-desktop .lyt-cont-cols-3 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2 / 12;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[20];
        grid-template-columns: repeat(20, 1fr);
  }
  .lyt-cont-grid-desktop .lyt-cont-cols-3 .lyt-col-1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1 / 7;
  }
  .lyt-cont-grid-desktop .lyt-cont-cols-3 .lyt-col-2 {
    -ms-grid-column: 8;
    -ms-grid-column-span: 6;
    grid-column: 8 / 14;
  }
  .lyt-cont-grid-desktop .lyt-cont-cols-3 .lyt-col-3 {
    -ms-grid-column: 15;
    -ms-grid-column-span: 6;
    grid-column: 15 / 21;
  }
  .lyt-cont-grid-desktop .lyt-cont-cols-4 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2 / 12;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[19];
        grid-template-columns: repeat(19, 1fr);
  }
  .lyt-cont-grid-desktop .lyt-cont-cols-4 .lyt-col-1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;
  }
  .lyt-cont-grid-desktop .lyt-cont-cols-4 .lyt-col-2 {
    -ms-grid-column: 6;
    -ms-grid-column-span: 4;
    grid-column: 6 / 10;
  }
  .lyt-cont-grid-desktop .lyt-cont-cols-4 .lyt-col-3 {
    -ms-grid-column: 11;
    -ms-grid-column-span: 4;
    grid-column: 11 / 15;
  }
  .lyt-cont-grid-desktop .lyt-cont-cols-4 .lyt-col-4 {
    -ms-grid-column: 16;
    -ms-grid-column-span: 4;
    grid-column: 16 / 20;
  }
  .lyt-cont-grid-desktop .lyt-cont-lg-1-2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1 / 9;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
  }
  .lyt-cont-grid-desktop .lyt-cont-lg-1-2 .lyt-col-lg {
    -ms-grid-column: 2;
    -ms-grid-column-span: 6;
    grid-column: 2 / 8;
  }
  .lyt-cont-grid-desktop .lyt-cont-sm-2-2 {
    -ms-grid-column: 9;
    -ms-grid-column-span: 4;
    grid-column: 9 / 13;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .lyt-cont-grid-desktop .lyt-cont-sm-2-2 .lyt-col-sm {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / 4;
  }
  .lyt-cont-grid-desktop .lyt-cont-sm-1-2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .lyt-cont-grid-desktop .lyt-cont-sm-1-2 .lyt-col-sm {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / 4;
  }
  .lyt-cont-grid-desktop .lyt-cont-lg-2-2 {
    -ms-grid-column: 5;
    -ms-grid-column-span: 8;
    grid-column: 5 / 13;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
  }
  .lyt-cont-grid-desktop .lyt-cont-lg-2-2 .lyt-col-lg {
    -ms-grid-column: 2;
    -ms-grid-column-span: 6;
    grid-column: 2 / 8;
  }
  .lyt-cont-grid-desktop .lyt-cont-1-3, .lyt-cont-grid-desktop .lyt-cont-2-3, .lyt-cont-grid-desktop .lyt-cont-3-3 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .lyt-cont-grid-desktop .lyt-cont-1-3 .lyt-col, .lyt-cont-grid-desktop .lyt-cont-2-3 .lyt-col, .lyt-cont-grid-desktop .lyt-cont-3-3 .lyt-col {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / 4;
  }
  .lyt-cont-grid-desktop .lyt-cont-1-3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;
  }
  .lyt-cont-grid-desktop .lyt-cont-2-3 {
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-column: 5 / 9;
  }
  .lyt-cont-grid-desktop .lyt-cont-3-3 {
    -ms-grid-column: 9;
    -ms-grid-column-span: 4;
    grid-column: 9 / 13;
  }
}

.lyt-pad-vert-sm {
  padding-top: 15px;
  padding-bottom: 15px;
}

.lyt-pad-vert-med {
  padding-top: 50px;
  padding-bottom: 50px;
}

.lyt-pad-vert-lg {
  padding-top: 75px;
  padding-bottom: 75px;
}

.sans-pg-fold-r3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
}

.sans-100vh {
  min-height: 100vh;
}

.sans-pg-fold-r2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
}

.sans-pg-fold-r1 {
  display: -ms-grid;
  display: grid;
  min-height: 100vh;
}

main {
  background-color: #ffffff;
}

.sans-row-bg-1 {
  background-color: #dddddd;
}

.sans-widget > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sans-bg-blocks .sans-widget:nth-child(1) {
  background-color: #cecbcb;
}

.sans-bg-blocks .sans-widget:nth-child(2) {
  background-color: #e7e3dd;
}

.sans-bg-blocks .sans-widget:nth-child(3) {
  background-color: #d5d0cc;
}

.sans-bkgd-pg {
  background-color: #ffffff;
}

.sans-pad-10 {
  padding: 10px;
}

.sans-cont {
  margin: 0 auto;
  width: 94%;
}

.sans-cont-flx-ctr {
  margin: auto;
  width: 94%;
}

@media (min-width: 1180px) {
  .sans-cont, .sans-cont-flx-ctr {
    max-width: 1180px;
  }
}

@media (min-width: 980px) {
  .sans-grd-cont {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(600px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

.sans-grd-ctr {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.sans-flx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sans-alg-it-ctr {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sans-txt-rt {
  text-align: right;
}

.sans-txt-ctr {
  text-align: center;
}

.sans-flx-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sans-widgets-page-end {
  margin: 50px 0 60px 0;
}

#primary {
  padding-top: 0;
  padding-bottom: 0;
  overflow: auto;
}

#primary h1 {
  margin-top: -10px;
  font-size: 3em;
  font-weight: 300;
  color: black;
}

.sans-post-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sans-post-card .sans-post-thumbnail {
  margin-bottom: 10px;
  text-align: center;
}

.sans-post-card .sans-post-thumbnail img {
  max-height: 300px;
  width: auto;
}

.sans-post-card .sans-post-title {
  margin-bottom: 20px;
}

.sans-page-header {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.sans-home-head-img {
  min-height: 300px;
  background-size: cover !important;
  background-position: bottom right !important;
}

@media screen and (max-width: 979px) {
  .sans-home-head-img {
    background-attachment: fixed !important;
  }
}

#site-outline-image, #featured-articles-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 400px;
}

@media screen and (min-width: 980px) {
  .sans-home-5, .sans-home-7 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;
    max-height: 100%;
  }
}

#site-outline {
  background-color: #d7d8d2;
}

#featured-articles {
  background-color: #f5f5f2;
}

.sans-header-image {
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sans-background-tint {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(1, 1, 1, 0.4)), to(rgba(1, 1, 1, 0.1)));
  background: linear-gradient(rgba(1, 1, 1, 0.4), rgba(1, 1, 1, 0.1));
}

@media (max-width: 759px) {
  header nav.main-navigation {
    position: absolute;
    z-index: 1000;
    top: 50px;
    right: 0;
    width: 100%;
    background-color: #ffffff;
    border-radius: 2px;
    padding: 10px 20px;
    border: solid #008000 1px;
    -webkit-filter: drop-shadow(1px 1px 3px #383838);
            filter: drop-shadow(1px 1px 3px #383838);
    display: none;
  }
  header nav.main-navigation ul li.menu-item-has-children button {
    background-color: #ffffff;
    color: #004300;
  }
  header nav.main-navigation ul li .sub-menu {
    border-right: #008000 1px solid;
  }
  header nav.main-navigation ul li a {
    color: #004300;
  }
  header nav.main-navigation ul.menu {
    margin: 20px;
  }
  header nav.main-navigation.main-menu-open {
    display: block;
  }
  header .sans-main-menu {
    text-align: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header .sans-main-menu #sans-menu-toggle {
    cursor: pointer;
    background-color: #004300;
    color: #ffffff;
    border: none;
    font-weight: 400;
    font-size: 1.1rem;
    font-family: sans-serif;
    padding: 5px 10px;
    border-radius: 2px;
    margin: auto 0;
  }
  header .sans-main-menu #sans-menu-toggle#sans-menu-toggle::after {
    padding-left: 5px;
    font-family: "dashicons";
    content: "\f140";
  }
  header .sans-main-menu #sans-menu-toggle#sans-menu-toggle.menu-toggle-open::after {
    font-family: "dashicons";
    content: "\f142";
  }
  header .sans-main-menu button {
    background-color: #004300;
    color: #ffffff;
    border: none;
    font-weight: 400;
    font-size: 1.1rem;
    font-family: sans-serif;
    padding: 5px 10px;
    border-radius: 2px;
    margin: auto 0;
  }
  header .sans-main-menu button#sans-menu-toggle::after {
    padding-left: 5px;
    font-size: 1.1rem;
    font-family: "dashicons";
    content: "\f140";
  }
  header .sans-main-menu button#sans-menu-toggle.menu-toggle-open::after {
    font-family: "dashicons";
    content: "\f142";
  }
  header .sans-menu-no-js:hover nav.main-navigation {
    display: block;
  }
  header .sans-menu-no-js nav ul li.menu-item-has-children:focus-within .sub-menu {
    display: block;
  }
  header .sans-menu-no-js nav ul li.menu-item-has-children:hover .sub-menu {
    display: block;
  }
}

header .sans-top-bar {
  background-color: #008000;
  height: 50px;
}

header .sans-top-bar .sans-top-menus-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .sans-top-brand, header .sans-top-brand-home {
  text-align: center;
  background-color: #ffffff;
}

header .sans-top-brand, header .sans-top-brand-home {
  height: 90px;
}

header .sans-top-brand .custom-logo, header .sans-top-brand-home .custom-logo {
  margin: 5px 0;
  height: 80px;
  width: auto;
}

header nav ul {
  list-style: none;
  padding: 0;
  margin: 7px 0;
}

header nav ul a {
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: color 200ms;
  transition: color 200ms;
}

header nav ul a:hover {
  color: rgba(255, 255, 255, 0.8);
}

header nav ul li {
  padding: 5px 0;
  margin: 0 10px;
  font-size: 1.1rem;
  font-family: sans-serif;
}

header nav.sans-top-left-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav.sans-top-left-menu ul a {
  font-weight: 500;
}

header nav.sans-top-left-menu li:first-child {
  margin: 0 10px 0 0;
}

header nav.sans-top-left-menu li:first-child::before {
  padding-right: 5px;
  font-family: "dashicons";
  content: "\f525";
  color: #ffffff;
}

header nav.main-navigation ul li.menu-item-has-children {
  cursor: pointer;
}

header nav.main-navigation ul li.menu-item-has-children > a::after {
  font-family: "dashicons";
  content: "\f140";
}

header nav.main-navigation ul li.menu-item-has-children > a:hover::after {
  font-family: "dashicons";
  content: "\f142";
}

header nav.main-navigation ul li.menu-item-has-children button {
  cursor: pointer;
  border: none;
  font-weight: 400;
  font-size: 1.1rem;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

header nav.main-navigation ul li.menu-item-has-children button::after {
  font-family: "dashicons";
  content: "\f140";
}

header nav.main-navigation ul li.menu-item-has-children button.child-menu-open::after {
  font-family: "dashicons";
  content: "\f142";
}

header nav.main-navigation ul li.menu-item-has-children .sub-menu-open {
  display: block;
}

header nav.main-navigation ul li .sub-menu {
  display: none;
}

@media (min-width: 760px) {
  header {
    position: -webkit-sticky;
    position: sticky;
  }
  header .sans-main-menu #sans-menu-toggle {
    display: none;
  }
  header .sans-top-brand {
    height: 90px;
  }
  header .sans-top-brand .custom-logo {
    margin: 5px 0;
    height: 80px;
    width: auto;
  }
  header .sans-top-brand-home {
    height: 90px;
  }
  header .sans-top-brand-home .custom-logo {
    margin: 5px 0;
    height: 80px;
    width: auto;
  }
  header .sans-menu-no-js nav ul li.menu-item-has-children:focus-within .sub-menu {
    display: block;
  }
  header .sans-menu-no-js nav ul li.menu-item-has-children:hover .sub-menu {
    display: block;
  }
  header nav.main-navigation ul.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  header nav.main-navigation ul li button {
    background-color: #008000;
    color: #ffffff;
  }
  header nav.main-navigation ul li:last-child {
    margin: 0 0 0 10px;
  }
  header nav.main-navigation ul li.menu-item-has-children {
    cursor: pointer;
  }
  header nav.main-navigation ul li.menu-item-has-children .sub-menu-open {
    display: block;
  }
  header nav.main-navigation ul li .sub-menu {
    background-color: #ffffff;
    border: solid #008000 1px;
    position: absolute;
    z-index: 1000;
    top: 40px;
    padding: 10px;
    margin: 0;
    display: none;
    text-align: left;
    border-radius: 2px;
    -webkit-filter: drop-shadow(1px 1px 3px #383838);
            filter: drop-shadow(1px 1px 3px #383838);
  }
  header nav.main-navigation ul li .sub-menu li {
    margin: 0 10px;
    padding: 10px;
  }
  header nav.main-navigation ul li .sub-menu li a {
    color: #008000;
    -webkit-transition: color 200ms ease-in-out;
    transition: color 200ms ease-in-out;
  }
  header nav.main-navigation ul li .sub-menu li a:hover {
    color: #004300;
  }
}

#site-header {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
}

.translucent-faint-light {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.7)));
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.7));
}

.translucent-light {
  background-color: rgba(255, 255, 255, 0.7);
}

#home-site-intro {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(56, 56, 56, 0.6)), color-stop(rgba(56, 56, 56, 0.75)), to(rgba(56, 56, 56, 0.99)));
  background: linear-gradient(rgba(56, 56, 56, 0.6), rgba(56, 56, 56, 0.75), rgba(56, 56, 56, 0.99));
}

#home-site-intro .site-name, #home-site-intro .site-desc {
  padding: 20px 0;
  display: block;
}

#home-site-intro .site-name {
  font-size: 2em;
  font-weight: 500;
  color: #ffffff;
}

#home-site-intro .site-name h1 {
  color: #ffffff;
  text-shadow: 2px 2px 5px #010101;
}

#home-site-intro .site-desc {
  font-size: 2em;
  font-weight: 300;
  color: #ffffff;
  text-shadow: 2px 2px 5px #010101;
}

#home-site-intro #learn-more {
  display: inline-block;
  margin: 0 0 20px 0;
  text-decoration: none;
  -webkit-transition: color 100ms;
  transition: color 100ms;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.7);
}

#home-site-intro #learn-more svg {
  fill: rgba(255, 255, 255, 0.7);
  margin: 10px 0 10px 0;
  width: 50px;
  height: 25px;
  -webkit-transition: fill 100ms, margin 100ms;
  transition: fill 100ms, margin 100ms;
}

#home-site-intro #learn-more:hover {
  color: rgba(255, 255, 255, 0.95);
}

#home-site-intro #learn-more:hover svg {
  fill: rgba(255, 255, 255, 0.95);
  margin: 15px 0 5px 0;
}

#home-video-header {
  position: fixed;
  z-index: -1;
  width: auto;
  min-height: 100%;
}

.san-fade-background {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(56, 56, 56, 0.1)), to(rgba(56, 56, 56, 0.9)));
  background: linear-gradient(rgba(56, 56, 56, 0.1), rgba(56, 56, 56, 0.9));
  height: 100%;
}

.sans-widget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sans-widget h3 {
  padding: 20px;
}

.sans-widget .sans-widget-link {
  margin-top: auto;
  background-color: #008000;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px 10px 10px 10px;
  -webkit-transition: padding 100ms;
  transition: padding 100ms;
}

.sans-widget .sans-widget-link:hover {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 15px 10px 5px 10px;
}

.button-primary, nav.sans-footer-top-menu ul li:first-of-type a, form input[type="submit"], .button-accent, nav.sans-footer-top-menu ul li a {
  padding: 20px;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
  border-radius: 2px;
  display: inline-block;
  text-decoration: none;
  min-width: 150px;
}

.button-primary, nav.sans-footer-top-menu ul li:first-of-type a, form input[type="submit"] {
  background-color: #008000;
  border: #004d00 solid 1px;
  color: #ffffff;
  text-shadow: 1px 1px 2px black;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 1, 0, 0.5);
          box-shadow: 1px 1px 2px rgba(0, 1, 0, 0.5);
  -webkit-transition: background-color 500ms, border 500ms;
  transition: background-color 500ms, border 500ms;
}

.button-primary:hover, nav.sans-footer-top-menu ul li:first-of-type a:hover, form input:hover[type="submit"] {
  background-color: #006700;
  border: #003400 solid 1px;
}

.button-accent, nav.sans-footer-top-menu ul li a {
  background-color: #004200;
  border: #000f00 solid 1px;
  color: #ffffff;
  text-shadow: 1px 1px 2px black;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  -webkit-transition: background-color 500ms, border 500ms;
  transition: background-color 500ms, border 500ms;
}

.button-accent:hover, nav.sans-footer-top-menu ul li a:hover {
  background-color: #002900;
  border: black solid 1px;
}

nav.sans-footer-top-menu {
  margin-bottom: 40px;
}

nav.sans-footer-top-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

form input[type="text"], form input[type="email"], form textarea {
  border-radius: 2px;
  border: 1px #0fff0f solid;
  padding: 10px 5px;
  margin: 5px 0 10px 0;
}

form label {
  font-weight: 300;
}

form input[type="text"], form input[type="email"] {
  width: 90%;
}

form input[type="submit"] {
  cursor: pointer;
}

form textarea {
  width: 90%;
}

@media (min-width: 760px) {
  form input[type="text"], form input[type="email"], form textarea[type="text"], form textarea[type="email"] {
    width: 600px;
  }
  form textarea {
    width: 600px;
  }
}

footer {
  text-align: center;
  background-color: #fcfcfc;
  border-top: solid 2px #575757;
}

footer .sans-footer-nav-bar ul {
  list-style: none;
  padding: 0;
}

footer .sans-footer-nav-bar ul.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

footer .sans-footer-nav-bar ul.menu li {
  padding: 5px 0;
  margin: 5px 10px;
}

footer .sans-footer-nav-bar ul.children {
  font-size: 0.5em;
}

footer .custom-logo {
  height: 90px;
}

footer .custom-logo .custom-logo {
  margin: 5px 0;
  height: 80px;
  width: auto;
}

footer .sans-footer-middle {
  background-color: white;
  padding: 20px 0;
}

footer .sans-footer-bottom {
  background-color: #575757;
  color: #ffffff;
  font-size: 0.8em;
  margin-top: -5px;
}

footer .footer-copyright {
  padding: 20px;
}

.arch-small, .arch, .arch-tall, .arch-header-home {
  width: 100%;
  background-position-x: center;
  background-size: cover;
}

.arch-small {
  height: 200px;
}

.arch {
  height: 300px;
}

.arch-tall {
  height: 400px;
}

.arch-header-home {
  height: 300px;
  margin-top: 100px;
}

.arch-footer {
  height: 150px;
  background-color: white;
  width: 100%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.arch-footer .footer-copyright {
  color: white;
  margin: auto auto 0 auto;
}

.arch-footer-content {
  margin-top: -200px;
}
/*# sourceMappingURL=template.css.map */